{% load static %}

<html lang="en">
<head>
	<style>
		table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		}
		th, td {
		padding: 15px;
		}
	</style>
    <meta charset="UTF-8">
    <title>Orders</title>
	<link rel="stylesheet" type="text/css" href="{% static 'trt.css' %}">
</head>
<body class= "pic" background="{% static 'trt.jpg' %}" >
<h3 align="center">PRE-DEFINED PRODUCT'S ORDERS</h3>
<div style="color:blue;" align="center">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
<table  style="width:100%">
	<tr>
		<th>
			Order_id
		</th>
		<th>
			Name
		</th>
		<th>
			Email
		</th>
        <th>
			Phone
		</th>
        <th>
			State
		</th>
        <th>
			City
		</th>
        <th>
			Pincode
		</th>
        <th>
			Address
		</th>
        <th>
			Category name
		</th>
        <th>
			Product name
		</th>
	</tr>
	{% for i in b %}
	<tr>
        <td>
			{{i.id}}
		</td>
		<td>
			{{i.Style_name}}
		</td>
		<td>
			{{i.Status}}
		</td>
		<td>
			<button type="submit" onclick="location.href='{% url 'edit_band_size' i.id %}'" name='t_h'>Edit</button>
		</td>
		<td>
			<button type="submit" onclick="location.href='{% url 'delete_band_size' i.id %}'" name='del'>Delete</button>
		</td>
	</tr>
	{% endfor %}
</table><br><br>
<div align="center">
	<button type="submit" onclick="location.href='{% url 'admin_home' %}'" name='mybtn2'>Back</button>
</div>

</body>
</html>