{% load static %}

<html lang="en">
<head>
	<style>
		table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		}
		th, td {
		padding: 15px;
		}
	</style>
    <meta charset="UTF-8">
    <title>View products</title>
	<link rel="stylesheet" type="text/css" href="{% static 'trt.css' %}">
</head>
<body class= "pic" background="{% static 'trt.jpg' %}" >
<h3 align="center">{{zz}} DETAILS</h3>
<div style="color:blue;" align="center">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
<table  style="width:100%">
	<tr>
		<th>
			Product_id
		</th>
		<th>
			Product name
		</th>
		<th>
			Product image
		</th>
		<th>
			Quantity range
		</th>
		<th>
			Discount
		</th>
		<th>
			Price
		</th>
	</tr>
	{% for i in n %}
	<tr>
        <td>
			{{i.id}}
		</td>
		<td>
			{{i.Product_name}}
		</td>
		<td>
			<img src="/media/{{i.Product_image}}" alt="No image" height="100px" width="200px">
		</td>
		<td>
			{{i.Minimum_quantity}} - {{i.Maximum_quantity}}
		</td>
		<td>
			{{i.Discount_percentage}}
		</td>
		<td>
			{{i.Unit_price}}
		</td>
		<td>
			<button type="submit" onclick="location.href='{% url 'edit_product' i.id %}'" name='t_h'>Edit</button>
		</td>
		<td>
			<button type="submit" onclick="location.href='{% url 'delete_product' i.id %}'" name='del'>Delete</button>
		</td>
	</tr>
	{% endfor %}
</table><br><br>
<div align="center">
	<button type="submit" onclick="location.href='{% url 'admin_home' %}'" name='mybtn2'>Back</button>
</div>

</body>
</html>