{% load static %}

<html lang="en">
<head>
	<style>
		table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		}
		th, td {
		padding: 15px;
		}
	</style>
    <meta charset="UTF-8">
    <title>View band size</title>
	<link rel="stylesheet" type="text/css" href="{% static 'trt.css' %}">
</head>
<body class= "pic" background="{% static 'trt.jpg' %}" >
<h3 align="center">BAND SIZE DETAILS</h3>
<div style="color:blue;" align="center">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
<table  style="width:100%">
	<tr>
		<th>
			Band_size__id
		</th>
		<th>
			Size (in inch)
		</th>
		<th>
			Status
		</th>
	</tr>
	{% for i,j,k in b %}
	<tr>
        <td>
			{{i}}
		</td>
		<td>
			{{j}}
		</td>
		<td>
			{{k}}
		</td>
		<td>
			<button type="submit" onclick="location.href='{% url 'edit_band_size' i %}'" name='t_h'>Edit</button>
		</td>
		<td>
			<button type="submit" onclick="location.href='{% url 'delete_band_size' i %}'" name='del'>Delete</button>
		</td>
	</tr>
	{% endfor %}
</table><br><br>
<div align="center">
	<button type="submit" onclick="location.href='{% url 'admin_home' %}'" name='mybtn2'>Back</button>
</div>

</body>
</html>