{% load static %}

<html lang="en">
<head>
	<style>
		table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		}
		th, td {
		padding: 15px;
		}
	</style>
    <meta charset="UTF-8">
    <title>View band price</title>
	<link rel="stylesheet" type="text/css" href="{% static 'trt.css' %}">
</head>
<body class= "pic" background="{% static 'trt.jpg' %}" >
<h3 align="center">BAND PRICE DETAILS</h3>
<div style="color:blue;" align="center">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
<table  style="width:100%">
	<tr>
		<th>
			Band_price__id
		</th>
		<th>
			Style
		</th>
        <th>
			Size
		</th>
        <th>
			Minimum quantity
		</th>
        <th>
			Maximum quantity
		</th>
        <th>
			Price
		</th>
		<th>
			Discount percentage
		</th>
	</tr>
	{% for a,b,c,d,e,f,g in b %}
	<tr>
        <td>
			{{a}}
		</td>
		<td>
			{{b}}
		</td>
        <td>
			{{c}}
		</td>
        <td>
			{{d}}
		</td>
        <td>
			{{e}}
		</td>
        <td>
			{{f}}
		</td>
		<td>
			{{g}}
		</td>
		<td>
			<button type="submit" onclick="location.href='{% url 'edit_band_price' a %}'" name='t_h'>Edit</button>
		</td>
		<td>
			<button type="submit" onclick="location.href='{% url 'delete_band_price' a %}'" name='del'>Delete</button>
		</td>
	</tr>
	{% endfor %}
</table><br><br>
<div align="center">
	<button type="submit" onclick="location.href='{% url 'admin_home' %}'" name='mybtn2'>Back</button>
</div>

</body>
</html>